.dropdown dd, .dropdown dt, .dropdown ul { 
    margin: 0px; 
    padding: 0px; 
}

.dropdown dd { 
    position: relative; 
    background: #e4dfcb;
}


/* DT styles for sliding doors */
.dropdown dt a {
    background: #e4dfcb url(../img/arrow.png) no-repeat scroll right center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: block;
    padding-right: 20px;
    border: 1px solid #d4ca9a;
}

.dropdown dt a .color {
    float: left;
    width: 400px;
    height: 20px;
}

.dropdown dt a span {
    cursor: pointer; 
    display: block; 
    padding: 5px;
}

/* UL styles */
.dropdown dd ul { 
    background: #e4dfcb none repeat scroll 0 0; 
    display: none;
    list-style: none; 
    padding: 5px 0px; 
    position: absolute; 
    left: 0px; 
    top: 2px; 
    width: auto; 
    min-width: 600px;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.dropdown span.value { 
    display: none;
}

.dropdown dd ul li a { 
    color: black;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 5px; 
    display: block;
}

.dropdown dd ul li a:hover {
    background-color: #dec4c4;
}

.dropdown dd ul li a .color {
    float: left;
    width: 400px;
}