<div style="background-color: #999999" class="modal-header">
    <h2 class="modal-title"><b class="textGraved">Contacts</b></h2>
</div>
<div class="modal-body">
    <p>Magali Deleuil</p>
    <p>Pierre-Yves Chabaud</p>
    <p>François Agneray</p>
    <p>Frédéric Loth</p>
    <p>Clément Rosay</p>
</div>
<div class="modal-footer">
                    <button style="border-radius:0%; width:70px; border:0px;" type="button" class="btn btn-warning btn-s textGraved shadowBox" ng-click="vm.close()">
                        <span class="glyphicon glyphicon-remove spin" style="font-size:20px;"></span><br> <b>Close</b>
                    </button>

                    
</div>